<link rel="stylesheet" href="../../../node_modules/bootstrap-css-only/css/bootstrap.css">

<template id="header">
    <slot name="modal-header"></slot>
</template>

<template id="body">
    <slot name="modal-body"></slot>
</template>

<template id="footer">
    <slot name="modal-footer"></slot>
</template>

<div class="modal-backdrop fade"></div>
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">                    
            <div class="modal-header"></div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>