.app-element {
    padding-top: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.center {
    max-width: 700px;
    margin: 0 auto;
}

.center:not(h3) {
    padding: 10px;
}

.project-path {
    padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
}