<link rel="stylesheet" href="../../../node_modules/bootstrap-css-only/css/bootstrap.css">

<h1 class="name"></h1>
<div class="d-flex justify-content-between align-items-center pb-2">
    <span class="state badge"></span>
    <div class="btn-group">
        <button class="start btn-sm btn btn-success">Start</button>
        <button class="terminate btn-sm btn btn-danger" disabled>Stop</button>
        <button class="clear-log btn-sm btn btn-light">Clear Log</button>
    </div>
</div>
<div class="terminal"></div>