<link rel="stylesheet" href="../../../node_modules/bootstrap-css-only/css/bootstrap.css">
<link rel="stylesheet" href="../../../node_modules/xterm/dist/xterm.css" />
<link rel="stylesheet" href="../../../node_modules/xterm/lib/addons/fullscreen/fullscreen.css" />
<!--
    This ensures the style is applied when xterm attempts to check size of terminal container.
-->
<style>
    .terminals:not(.full-screen) {
        max-height: 200px;
    }
</style>
<div class="d-flex align-items-center justify-content-between flex-row">
    <h1 class="name"></h1>    
    
    <div class="btn-group">
        <button class="action btn btn-sm btn-primary">Start</button>
        <button class="full btn btn-sm btn-dark">Full Screen</button>
        <drop-down class="group-left">
            <button class="copy-log btn-sm">Copy Log</button>
            <button class="clean btn-sm">Clean</button>
            <button class="clear-log btn-sm">Clear Log</button>
        </drop-down>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center pb-2">
    <span class="state badge"></span>
</div>
<div class="terminals">
    <div class="btn-group full-screen-options">
        <button class="close-fullscreen btn btn-secondary">Close</button>
        <button class="copy-log btn btn-info">Copy Log</button>
    </div>
</div>