span.badge {
    padding: 5px;
}
:host {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

:host(:hover) .full-screen-toggle {
    opacity: 1;
}

.terminals {
    border: 1px solid rgba(128, 128, 128, 0.35);
}

.terminals:not(.full-screen) {
    max-height: 200px;
}

.log-item.error {
    color: red;
}

.terminals.full-screen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
}

.terminals.full-screen::before {
    content: 'Close';
    display: block;
    position: absolute;
    top: 0px;
    z-index: 5;
    right: 20px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid white;
    padding: 5px;
    margin: 3px;
}

.terminals {
    position: relative;
}
